html
  head
    title ColorWheel Demo

    meta(name="viewport", content="width=device-width, user-scalable=no")
    meta(charset="utf-8")

    link(rel="stylesheet", href="index.css")

  body
    canvas#color-wheel

    #intro
      h1 ColorWheel2.js
      #description The HSV color wheel with touch support. Now with integrated color manager!

      #try
        label(for="tryInput") #{"Try: "}
        input#tryInput(type="text", spellcheck="false", placeholder="Hex code")

    a#github-link(href="https://github.com/keupoz/ColorWheel2", target="_blank")
      img(src="assets/github.svg", height="24")

    script(src="app.js")
